:deep .iconfont {
  font-size: 22px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid rgb(47, 47, 47);
    transition: all 0.2s ease;
    img {
      width: 40px;
    }
    .title {
      font-weight: 900;
      font-size: 18px;
      padding-left: 10px;
			white-space: nowrap;
    }
  }
  .comp {
    flex: 1;
    height: 100%;
    .el-row {
      height: 100%;
      margin-bottom: 20px;
    }
    .el-row:last-child {
      margin-bottom: 0;
    }
    .el-col {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      border-radius: 4px;
    }

    .grid-content {
      border-radius: 4px;
      height: 100%;
    }
  }
}
