@font-face {
  font-family: "iconfont"; /* Project id 3559422 */
  src: url('iconfont.woff2?t=1659322758064') format('woff2'),
       url('iconfont.woff?t=1659322758064') format('woff'),
       url('iconfont.ttf?t=1659322758064') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pifu:before {
  content: "\e600";
}

.icon-quanping:before {
  content: "\ec13";
}

.icon-zhongyingwen:before {
  content: "\e605";
}

.icon-daxiao:before {
  content: "\e823";
}

