//按需导入需要手动引入 message 与 loading 样式
@use 'element-plus/theme-chalk/el-loading.css';
@use 'element-plus/theme-chalk/el-message.css';
// Element的Dark 样式
@use 'element-plus/theme-chalk/dark/css-vars.css';
// 其他结构的Dark 样式
@use '@/styles/element-dark.scss';

/*  
   //ElementPlus 部分主题变量名
    color-scheme: light;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #409eff;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2: #337ecc;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: #909399;
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, .8);
    --el-overlay-color-light: rgba(0, 0, 0, .7);
    --el-overlay-color-lighter: rgba(0, 0, 0, .5);
    --el-mask-color: rgba(255, 255, 255, .9);
    --el-mask-color-extra-light: rgba(255, 255, 255, .3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
*/

.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: 0px !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: 0px !important;
  margin-right: 5px;
  border-radius: 5px;
}
.el-tabs--card > .el-tabs__header {
  border-bottom: 0px !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border: 0px;
}
.el-menu {
  .el-sub-menu__title{
    border-left: 5px solid transparent;
  }
  .el-sub-menu__title:hover {
    border-left: 5px solid var(--el-color-primary-light-1);
    background-color: var(--el-color-primary-light-5);
  }
  .el-menu-item {
    box-sizing: border-box;
    font-size: 14px !important;
    height: 50px !important;
    min-width: 170px !important;
    border-left: 5px solid transparent;
    &:hover:hover {
      border-left: 5px solid var(--el-color-primary-light-1);
      background-color: var(--el-color-primary-light-5);
    }
    &.is-active {
      background-color: var(--el-color-primary-light-7);
      border-left: 5px solid var(--el-color-primary-light-1);
    }
    & > span.iconfont,
    .el-sub-menu > span.iconfont,
    .el-sub-menu__title > span.iconfont,
    .el-menu-item .el-menu-tooltip__trigger > span.iconfont {
      font-size: 18px;
      font-weight: 700;
      margin-right: 10px;
    }
  }
}

.el-menu--collapse > .el-menu-item > span,
.el-menu--collapse > .el-sub-menu > .el-sub-menu__title > span.iconfont {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  visibility: unset;
  margin-right: 0px;
}

//SearchForm
.table-search{
  .el-form {
    .el-row{
     .el-col{
      padding-top: 6px;
      padding-bottom: 6px;
     }
    }
    .el-form-item{
      margin-bottom: 0;
      .el-form-item__content>*{
        width: 100%;
      }
    }
  }
 
}
//QiTable
.table-main{
  display: flex;
  flex-flow: column;
  overflow: hidden;
  .table-main-header{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
  }
  .el-table__header th {
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    color: var(--el-text-color-primary);
    background: var(--el-fill-color-light);
  }
  .el-table__row {
    height: 45px;
    font-size: 14px;
    .el-table__cell{
      padding: 8px 0;
      .el-image{
        height: calc(45px - 16px);
      }
      img{
        width: calc(45px - 16px);
        height: calc(45px - 16px);
        border-radius: 50%;
      }
    }
    .el-table__placeholder {
      display: inline;
    }
  }
  .pagination{
    display: flex;
    justify-content: flex-end;
    padding: 6px 0;
  }
}

