#tab {
  background-color: #fff;
  height: 45px;
  padding: 5px 10px 0;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  z-index: 1;
}
.el-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  :deep(.el-tabs__header) {
    margin: 0 !important;
    .el-tabs__nav {
      .el-tabs__item {
        margin-right: -20px !important;
        &:last-child {
          margin-right: 0px !important;
        }
      }
    }
  }
  :deep(.el-tabs__content) {
    display: flex;
    justify-content: center;
  }
}
