.text-container {
  position: relative;
  width: 100%;
  height: 20px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #cccccc;
  .text-box {
    position: absolute;
    display: flex;
    width: 200%;
    animation: move 5s linear infinite;
    .text-content {
      width: 100%;
    }
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
.outher {
  position: relative;
  width: 100%;
  height: calc(100% - 20px);
  cursor: pointer;
  background-color: salmon;
  border: 1px solid saddlebrown;
  .cirle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(237 119 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .cirle::before {
    position: absolute;
    top: -75px;
    left: 50%;
    z-index: -1;
    width: 0;
    height: 0;
    content: '';
    border-top: 50px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 50px solid rgb(237 119 0);
    border-left: 10px solid transparent;
    transform: translateX(-50%);
  }
}
